@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html {
  font-size: calc(0.75vw + 0.75vh);
}

body {
  background: linear-gradient(45deg, #57003f 0%, #f57453 100%);
  font-family: 'Ubuntu Mono', monospace;
  margin: 0;
}

p {
  color: #dddddd;
  margin: 0;
}

a {
  text-decoration: none;
  color: #dddddd;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.textHighlight {
  color: #ddddddcc;
}

/* CLI Styles */
.cli-root {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background: rgba(56, 4, 40, 0.9);
  padding: 2rem;
}

.commandBox {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  padding-top: 0.35rem;
  padding-left: 0.35rem;
  padding-bottom: 0.4rem;
  margin: 0;
}

.commandLine {
  display: flex;
  color: #dddddd;
}

input {
  font-size: 1rem;
  font-family: 'Ubuntu Mono', monospace;
}

.terminalInput {
  flex-grow: 1;
  color: #dddddd;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  background: transparent;
}

.commandArgument {
  color: #ddddddcc;
}

.promptUser {
  color: #87d441;
}
.promptLocation {
  color: #6d85a9;
}
.promptDollar {
  color: #dddddd;
}

/* TODO: Add cursor effect. */
.promptCursor {
  animation: 5000ms ease infinite alternate blink;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
