@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html {
  font-size: calc(0.75vw + 0.75vh);
}

body {
  background: linear-gradient(45deg, #57003f 0%, #f57453 100%);
  font-family: 'Ubuntu Mono', monospace;
  margin: 0;
}

p {
  margin: 0;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

/* CLI Styles */
.cli-root {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background: rgba(56, 4, 40, 0.9);
  padding: 2rem;
}

.commandBox {
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  padding-top: 0.2rem;
  padding-left: 0.2rem;
  padding-bottom: 0.4rem;
  color: #dddddd;
  margin: 0;
}

input {
  font-size: 0.75rem;
  font-family: 'Ubuntu Mono', monospace;
}

.terminalInput {
  flex-grow: 1;
  color: #dddddd;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  background: transparent;
}

.commandArgument {
  color: #ddddddcc;
}

.promptUser {
  color: #87d441;
}
.promptLocation {
  color: #6d85a9;
}
.promptDollar {
  color: #dddddd;
}
.promptCursor {
  height: 17px;
  width: 8px;
  background: white;
  display: block;
  margin-left: 8px;
  animation: 2000ms ease infinite alternate blink;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
