.winbox {
  border-radius: 0.5rem 0.5rem 0 0;
  font-family: 'Ubuntu Mono', monospace;
  background: transparent;
}

/* TitleBar Styles */
.wb-header {
  display: flex;
  height: 2rem;
  background: linear-gradient(#504b45 0%, #3c3b37 100%);
}

.wb-title {
  padding-left: 0.6rem;
  height: 2rem;
  line-height: 2rem;
  flex-grow: 1;
  font-size: 1.15rem;
  font-family: 'Ubuntu Mono', monospace;
}

/* TitleBar Icon Styles */
.wb-icon * {
  width: 1.5rem;
}
.wb-icon {
  height: 2rem;
  transform: rotateY(180deg);
}

.wb-full {
  display: none;
}

.wb-min {
  background-image: url(../assets/minimize_circle.svg);
  background-position: center;
  background-size: 0.9rem auto;
}

.wb-min:hover {
  opacity: 0.85;
}

.wb-max {
  background-image: url(../assets/maximize_circle.svg);
  background-position: center;
  background-size: 0.9rem auto;
}

.wb-max:hover {
  opacity: 0.85;
}

.wb-close {
  background-image: url(../assets/close_circle.svg);
  background-position: center;
  background-size: 0.9rem auto;
  border-radius: 100%;
}

.wb-close:hover {
  opacity: 0.85;
}

/* CLI Styles */
.wb-body {
  top: 2rem;
  background: rgba(56, 4, 40, 0.85);
}

.wb-body::-webkit-scrollbar {
  width: 0.35rem;
  height: 0.35rem;
  padding: 1rem;
  background: transparent;
}

.wb-body::-webkit-scrollbar-thumb {
  background: linear-gradient(#de4c12cc 0%, #de4c12ff 100%);
}

.wb-body::-webkit-scrollbar-corner {
  display: none;
}
